.imgThumb{
    @apply mx-auto;
    width: 200;
    height: 200;
}
.home__item__box{
    @apply grid grid-cols-1 gap-4 border-2 p-6 rounded-2xl;
    border-color: #7673F9;
}
.home__link{
    @apply inline-block p-3 w-full rounded-lg hover:scale-110 duration-300 cursor-pointer text-2xl font-semibold text-center text-white;
    background-color: #7673F9;
}
